header {
  width: 100%;
  height: 115px;
  padding: 0 3%;
  background-color: black;
  position: fixed;
  border-bottom: 5px solid rgb(168, 168, 168);
  z-index: 99;
}

.fix-header {
  height: 115px;
}

.header-left {
  width: 40%;
  display: flex;
  overflow: hidden;
}

.header-left img {
  /* REMOVIDO: 'max-height: 100%;'
    Esta era a linha que causava o problema. 
  */
}

.header-right {
  width: 60%;
  justify-content: right;
  display: flex;
  flex-direction: column-reverse;
}

@media (max-width: 1080px) {
  .header-right {
    flex-direction: row-reverse;
    align-items: center;
  }
}

@media (max-width: 768px) {
  .header-left {
    width: 60%;
  }

  .header-right {
    width: 40%;
  }

  header,
  .fix-header {
    height: 80px;
  }

  .header-left img {
     /* Esta regra não é mais necessária aqui */
  }
}